

<div class="container-fluid">
    <div class="row" id="createworkout">
        <div  class="col-sm-12 col-lg-12 col-md-12">
            <a asp-page="CreateWorkout">
                <img src="~/images/CreateWorkout.jpeg" class="img-responsive"  alt="Create Workout" opacity="0.5" />
                <div id="indexText" class="centered"><strong>Create Workout</strong></div>
            </a>
        </div>
    </div>
</div>



