@using TrainingAppAspCore.Dto
@model ExerciseDto

<div id="exerciseGrid" class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">

        <img src="~/images/RollMat.jpeg" class="img-responsive" alt="@Model.Name" />

    </div>
</div>



