@using TrainingAppAspCore.Dto
@model ExerciseDto

<div id="exerciseGrid">
    <iframe src="@Model.VideoLibrary.VideoUrl" width="560" height="315" allowfullscreen></iframe>
    <div id="ExerciseText">
        <h4>@Model.Name</h4>
</div>
</div>


