@using TrainingAppAspCore.Dto
@model WorkoutPlanDto

<div id="workoutGrid" class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <a asp-page="WorkoutExercise" asp-route-id="@Model.WorkoutPlanId">
            <img src="@Model.ImageUrl" class="img-responsive" alt="@Model.Name" />
        </a>
    </div>
</div>



