
\.vs/config/applicationhost\.config

\.vs/TrainingAppAspCore/v15/\.suo

\.vs/TrainingAppAspCore/v15/Server/sqlite3/db\.lock

\.vs/TrainingAppAspCore/v15/Server/sqlite3/storage\.ide

\.vs/TrainingAppAspCore/v15/Server/sqlite3/storage\.ide-shm

\.vs/TrainingAppAspCore/v15/Server/sqlite3/storage\.ide-wal

\.vs/TrainingAppAspCore/v14/\.suo
