/****** Script for SelectTopNRows command from SSMS  ******/
SELECT *
  FROM [TrainingApiDB].[dbo].[Categories]

select * 
from [TrainingApiDB].[dbo].[Clients]

select * 
from [TrainingApiDB].[dbo].[Exercises]

select * 
from [TrainingApiDB].[dbo].[VideoLibraries]

select * 
from [TrainingApiDB].[dbo].[WorkoutPlans]

select * 
from [TrainingApiDB].[dbo].[WorkoutExercises]

select * 
from [TrainingApiDB].[dbo].ClientWorkouts
