@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.MessageContact</h3>

<p>
    <strong>Oliveira Apps</strong> - Bianca Oliveira
</p>

<address>
    <strong>Support:</strong> <a href="mailto:oliveira.apps@gmail.com">oliveira.app@gmail.com</a><br />
</address>

<h2>About Oliveira Apps</h2>
<h3>@Model.MessageAbout</h3>
