@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<environment include="Development">
    <link rel="stylesheet" href="~/css/backgroundBody.css" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/backgroundBody.min.css" asp-append-version="true" />
</environment>

<div class="contactBody" id="contactBody">
    <h2>@ViewData["Title"]</h2>
    <h3>@Model.MessageContact</h3>
    <p>
        <strong>Oliveira Apps</strong> - Bianca Oliveira
    </p>
    <address>
        <strong>Support:</strong> <a href="mailto:biancaoliveira.apps@gmail.com">biancaoliveira.apps@gmail.com</a><br />
    </address>

    <div id="contactFooter">
        <h2>About Oliveira Apps</h2>
        <p>@Model.MessageAbout</p>
    </div>
</div>