@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Error.css" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/Error.min.css" asp-append-version="true" />
</environment>

<div>
    <h2 class="text-danger">Error.</h2>
    <h3>@Model.ErrorMessage</h3>
    <form  asp-page=@Model.CallingPage method="get">
       <button id="btnError" class="btn btn-default">Ok</button>
    </form>
</div>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}


