@page
@model StartExerciseModel
@{
    ViewData["Title"] = "It's Workout Time";
}

<body id="exerciseBody">
    <h3>@ViewData["Title"]</h3>
    <div id="exerciseContainer">

        @{ foreach (var exercise in Model.Exercises)
            {
                <div id="exerciseDivBlock">
                    <div id="startExercises" class="classDivForExercises"
                         style="color:tomato; font-size:x-large;" onclick="CompleteExercise(this)">
                        <i class="far fa-check-circle fa-3x"></i>
                    </div>
                    <div>
                        <a id="btnExercise" href=@exercise.VideoLibrary.VideoUrl role="button" class="btn btn-primary btn-block">@exercise.Name</a>
                    </div>
                    <div>
                        <i id="btnReps" class="fas fa-lg fa-gas-pump fa-pull-left fa-border"> 12</i>
                        <i id="btnWeight" class="fas fa-lg fa-dumbbell fa-pull-left fa-border"> 20</i>
                    </div>
                </div>
            }
        }
    </div>
</body>

<script>
    var CompleteExercise = function (buttonIndex) {
        buttonIndex.style = "color:green; font-size:x-large;";
    }

    //let exerciseDivs = document.getElementsByClassName("classDivForExercises");
    //console.log(exerciseDivs);
</script>

