@page
@model WorkoutPlanModel
@{
    ViewData["Title"] = "View All Workout Plans";
}

<div >
    <h2>Check out what we have for you in our <strong>Workout Plans</strong></h2>

        @foreach (var plan in Model.Workouts)
    {
        @Html.Partial("_WorkoutPlansPartial", plan) 
    }
</div>

