/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#exerciseContainer {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center
}

#btnExercise {
    z-index: -1;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    line-height: 250px;
    width: 250px;
    height: 250px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

#btnComplete {
    position: relative;
    padding-left:75px
}

#btnReps {
    position: relative;
    background-color: darkslategray;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left:60px;
    color: white;
}

#btnWeight {
    position: relative;
    background-color: darkslategray;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
}

#startExercises {
    padding-top: 20px;
    margin-left:120px;
}
#exerciseDivBlock {
    width:300px;
    height:450px;
    padding-left:20px;
    padding-right:20px;
}
h3{
    padding-bottom:30px;
    font-size:30px;
    text-align:center;
}
/*@media screen and (max-width: 920px) {
    nav {
        justify-content: centre;
    }

    a {
        font-size: 26px;
    }
}*/
