/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/*#myCarousel {
    margin-top: 20px;
}*/

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

#index-picture-links{
    padding-top:50px;
    padding-bottom:50px;
}

.row {
    margin-top: 15px;
}

.col-md-4 {
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.col-md-4:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#indexText {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
    font-size:x-large;
}

/*#startText {
    padding-left:15px;
    padding-right:15px;
    font-size: x-large;
    color:forestgreen;
    border:inset;
}*/
#clientworkout:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/*modal style - error modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 50%;
    height: 50%;
    padding-top: 100px;
    overflow: auto;
    background-color: rgb(0,0,0); /*fallback color*/
    background-color: rgba(61, 104, 105, 0.83); /*with opacity*/
}

.model-content {
    background-color:#fefefe;
    margin:auto;
    padding:20px;
    border:1px solid #888;
    width:80%;
}

.close{
    color:#aaaaaa;
    float:right;
    font-size:28px;
    font-weight:500;
}

.close:hover,
.close:focus{
    color: #000;
    text-decoration:none;
    cursor:pointer;
}